table{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: black 1px solid;
    min-width: 30px;
    text-align: center;
}
#karnaugh td{
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
#karnaugh td.active{
    background: rgb(255, var(--i), 0);
    transition: 0.5s;
}
#karnaugh td.active:hover{
    z-index: 2;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}